@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Staatliches&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
  /* .color1 { #049bfb };
  .color2 { #6178ba };
  .color3 { #041c7c };
  .color4 { #025c96 };
  .color5 { #2e3e6a }; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
