.landingBackground {
    background-image: url("../resources/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%;
    width: 100vw;
    height: 60%;
}

.Container {
    width: 100vw;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.75);
}

p {
    margin: 0;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    text-align: left;
}

#typewriter {
    color: #152377;
}

#pageName {
    color: #152377;
}